{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="row">
    {% for row in rows %}
        {% set viewEntity = row.content['#view'].style_plugin.render_tokens[ loop.index0 ] %}
        {% if loop.index0 == 0 or loop.index0 == 1 or loop.index0 == 2 %}
            <div class="col-md-4 p-2 column-link">
                <div class="column-wrapper">
                    <div class="image-wrapper">
                        <a href="{{ viewEntity['{{ view_node }}']|striptags|trim}}" title="{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}">
                            <img src="{{ viewEntity['{{ field_heading_image }}']|striptags|trim}}" class="img-fluid" alt="{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}"/>
                        </a>
                    </div>
                    <div class="content-wrapper">
                        <a href="{{ viewEntity['{{ view_taxonomy_term }}']|striptags|trim|raw }}" title="{{ viewEntity['{{ name }}']|striptags|trim|raw }}" class="sub-heading-wrapper">
                            <div class="sub-heading">{{ viewEntity['{{ name }}']|striptags|trim|raw }}</div>
                        </a>
                        <a href="{{ viewEntity['{{ view_node }}']|striptags|trim}}" title="{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}" class="heading-wrapper">
                            <h3>{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-3 p-2 column-link"> 
                <div class="column-wrapper">
                    <div class="image-wrapper">
                        <a href="{{ viewEntity['{{ view_node }}']|striptags|trim}}" title="{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}">
                            <img src="{{ viewEntity['{{ field_heading_image }}']|striptags|trim}}" class="img-fluid" alt="{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}"/>
                        </a>
                    </div>
                    <div class="content-wrapper">
                        <a href="{{ viewEntity['{{ view_node }}']|striptags|trim}}" title="{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}" class="heading-wrapper">
                            <h3>{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>